<%= render "form.html",
  changeset: @changeset,
  action: transaction_path(@conn, :create)
%>

<table class="table">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th colspan="2">Description</th>
      <th>Amount</th>

      <th></th>
    </tr>
  </thead>
  <tbody><%= list_transactions @transactions, @conn %></tbody>
</table>
