<div class="jumbotron">
  <h2>bgt</h2>
  <p class="lead">minimal budget tracker</p>
</div>

<div class="container">
</div>

<div class="row marketing">
  <div class="col-lg-6">
  </div>
  <div class="col-lg-6">
  </div>
</div>
